{
  "parser": "babel-eslint",
  "plugins": [
    "prettier", "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "prettier/prettier": ["error", { "trailingComma": "es5" }],
    "quotes": [2, "double"],
  },
  "env": {
    "jest": true 
  }
}
